* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
h1{
    font-size: xx-large;
    color: $color-blue;
    border-radius: 30px;
    border-color: darkgray;
   
}
.backgroundColor{
    background:radial-gradient(circle, rgb(100, 236, 100),rgb(255, 255, 184));
}