.gradient{
    position: fixed;
}
.navbar{
    margin:0%;
    background-color: none;
   
}

.contenedor {
    display: flex;
    flex-direction:row;
    align-content: space-around;
    justify-content: left;
    margin-left: 10px;
    margin-right: 10px;
    background-color: none;
    color: $color-blue;
  
    
}        
.contenedor__titulo{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  
}



