.imagenClub{
    width: 800px;
    display: flex;
    margin: auto;

}
.verMapa{
    font-size: 30px;
    
}

.algo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 10vh;
    align-items: center;
    padding: 30px;
}