* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: xx-large;
  color: blue;
  border-radius: 30px;
  border-color: darkgray;
}

.backgroundColor {
  background: radial-gradient(circle, #6ff76f, #ffffb8);
}

.gradient {
  position: fixed;
}

.navbar {
  margin: 0%;
  background-color: none;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 10px;
  margin-right: 10px;
  background-color: none;
  color: blue;
}

.contenedor__titulo {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.body {
  font-family: 'sans-serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoNosotrosContenedor {
  width: 100%;
  padding: 100px;
}

.infoNosotros {
  font-family: cursive 'Do Hyeon', sans-serif;
  font-size: x-large;
  color: blue;
  background-color: #eeeaea;
  border: 20px solid blue;
}

.tabla__ejemplo {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-left: 50%px;
  font-size: large;
  color: blue;
  font-weight: bold;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-block {
  width: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo {
  width: 200px;
}

.footer {
  margin-top: 40px;
  margin-bottom: 5px;
  margin-inline: 40%;
  border-radius: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-height: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10vh;
      grid-template-rows: 10vh;
      grid-template-areas: "contacto" "telefono" "club" "direccion" "form";
}

.contacto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contacto;
  -webkit-text-emphasis: center;
          text-emphasis: center;
  color: blue;
  padding: -10px;
  border-bottom: 20px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  color: yellowgreen;
}

.telefono {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: telefono;
  -webkit-text-emphasis: center;
          text-emphasis: center;
  color: blue;
  padding: 10px;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.telefono .todos-1 {
  padding: 20px;
}

.telefono .todos-2 {
  padding: 20px;
}

.telefono .todos-1 {
  padding: 10px;
}

.telefono .todos-2 {
  padding: 20px;
}

.telefono .todos-3 {
  padding: 30px;
}

.club {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: club;
  -webkit-text-emphasis: center;
          text-emphasis: center;
  color: blue;
  padding: 10px;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.direccion {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: direccion;
  -webkit-text-emphasis: center;
          text-emphasis: center;
  color: blue;
  padding: 10px;
  font-size: medium;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.imagenClub {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.verMapa {
  font-size: 30px;
}

.algo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.card-body2 {
  font-size: medium;
  color: blue;
  background-color: #eaf0ed;
  border-radius: 40px;
  border-style: dotted;
}

.contenedor__titulo2 {
  padding: 40px;
}

.divGaleria {
  width: 800px;
}

.imgCovid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
}

.textoProtocolo {
  font-family: cursive 'Do Hyeon', sans-serif;
  font-size: x-large;
  color: blue;
  background-color: #eeeaea;
  border: 20px solid blue;
}

.containerProtocolo {
  width: 100%;
  padding: 100px;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
}

.card-body {
  color: blue;
}

.card-img-top {
  width: 50px;
}

.form {
  background-color: white;
}
/*# sourceMappingURL=style.css.map */